.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
}

.margin-top {
  margin: 1rem 0;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.view {
  display: block;
}

.hidden {
  display: none;
}

.align-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}
