.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
}

.margin-top {
  margin: 1rem 0;
}

.margin-top-2 {
  margin: 0.5rem 0;
}

.margin-top-3 {
  margin: 1.5rem;
}

.margin-right-5px {
  margin-right: 5px;
}

.margin-right-10px {
  margin-right: 10px;
}

.margin-right-20px {
  margin-right: 20px;
}

.margin-left-5px {
  margin-left: 5px;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.hidden {
  display: none;
}

.align-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.padding-top {
  padding: 1rem 0;
}

.line-height-1 {
  line-height: 20px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.align-start {
  align-items: start;
}
