h1 {
  font-family: AGRevueCyr, sans-serif;
  color: white;
  cursor: default;
  font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
span,
p {
  color: white;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.88rem;
}

h4 {
  margin: 0;
}

.page-header {
  font-weight: 300;
}

.search-input {
  width: 100%;
  padding: 1rem;
}

.search-input:focus {
  outline: none;
  border-color: rgb(255, 255, 255);
}

.search-button {
  width: 1rem;
}

button:hover {
  cursor: pointer;
}

.results-text {
  font-weight: 900;
  font-size: 2rem;
  font-family: "Baloo Chettan 2", sans-serif;
  margin: 0;
  color: #9c9c9e;
}

.result-name,
.watchlist-name {
  font-size: 0.88rem;
}

.result-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.result-card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-bottom: 1rem;
}

.result-poster,
.info-page-poster,
.watchlist-poster {
  width: 100px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.flex-end {
  justify-content: flex-end;
}

li {
  list-style: none;
  background-color: rgb(52, 73, 94);
  border-radius: 15px;
  padding: 15px;
  margin: 35px;
}

ul {
  padding-inline-start: 0;
}

.bg-blue {
  background-color: #2e51a2;
}

.bg-dark-cyan {
  background-color: #2c3e50;
}

.mywatchlist-button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-family: AGRevueCyr, sans-serif;
  color: white;
}

.nav-bar {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.watch-list-icon {
  width: 30px;
  height: 28px;
}

.back-button {
  background-color: rgb(52, 73, 94);
  border: none;
  border-radius: 9px;
  color: #ffff;
  font-size: 15px;
  font-weight: 700;
  padding: 12px;
}

.synopsis-title {
  font-weight: 700;
  margin-top: 25px;
}

.plus-button {
  background-color: #2e51a2;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 15px;
  padding: 11px;
  font-weight: 700;
}

.watchlist-details {
  font-size: 0.65rem;
}

.watchlist-card {
  padding: 15px;
  border-radius: 25px;
}

.empty-watchlist-message {
  font-style: italic;
  margin-top: 25px;
}

.modal {
  background-color: rgb(52, 73, 94);
  width: 200px;
  text-align: center;
  padding: 2.5rem;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-checkmark {
  width: 75px;
}

.overlay-text {
  color: white;
  font-size: 0.65rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  .container {
    width: 80%;
  }

  .text-align-center {
    text-align: center;
  }

  .result-card {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .result-poster,
  .watchlist-poster {
    width: 170px;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
  }

  .result-name,
  .watchlist-name {
    font-size: 1.7rem;
  }

  .result-overview {
    font-size: 1rem;
  }

  .line-height-1 {
    line-height: 20px;
  }

  .info-page-poster {
    width: 250px;
  }

  .mobile-row {
    display: flex;
  }

  .mywatchlist-button {
    font-size: 30px;
  }

  .watch-list-icon {
    width: 35px;
    height: 30px;
  }

  .watchlist-details {
    font-size: 1rem;
  }

  .watchlist-poster {
    width: 170px;
  }

  .modal {
    width: 400px;
    padding: 2.5rem;
  }

  .green-checkmark {
    width: 100px;
  }

  .overlay-text {
    font-size: 1.2rem;
  }
}
